.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store
RDeeP_HeLa_Mitosis.csv
DeeP_HeLa_Mitosis_normalized.rds
RDeeP_HeLa_Mitosis_normalized.rds
DeeP_HeLa_Mitosis_normalized_combined.rds
RDeeP_HeLa_Mitosis_normalized_combined.rds
RDeeP_HeLa_Mitosis_local_maxima.rds
RDeeP_HeLa_Mitosis_global_maxima.rds
~$PP.pptx
~$PP_Basti.pptx
tres_values.rds
*.Rds
*.RData
part*
~$*
report.out